<div class="wrapper">
  <div class="containerheader">
    <input type="date" [(ngModel)]="dateInput" /> -
    <select #range [(ngModel)]="selectedRange">
      <option disabled value="none">Select a range</option>
      <option
        *ngFor="let shootingRange of shootingRangeList"
        [value]="shootingRange.shootingRangeId"
      >
        {{ shootingRange.address }}
      </option>
    </select>
  </div>
  <div class="container">
    <div class="containerlist">
      <h2>Participants</h2>
      <div class="scroll">
        <div class="small-wrapper" *ngFor="let person of selectedPersonList">
          <p>{{ person.name }}</p>
          <app-minimal-button
            [insideContent]="'remove'"
            (click)="personRemoveClick(person.id)"
          ></app-minimal-button>
        </div>
      </div>
      <div class="selector">
        <select #person [(ngModel)]="selectedPerson">
          <option disabled value="none">Select a person</option>
          <option *ngFor="let person of personList" [ngValue]="person">
            {{ person.name }}
          </option>
        </select>
      </div>
      <div class="adder">
        <app-minimal-button
          [insideContent]="'add'"
          (click)="personAddClick()"
        ></app-minimal-button>
      </div>
    </div>
    <div class="containerlist">
      <h2>Ammo</h2>
      <div class="scroll">
        <div class="small-wrapper" *ngFor="let ammo of selectedAmmoList">
          <p>{{ ammo.caliber }} - {{ ammo.countUsed }}</p>
          <app-minimal-button
            [insideContent]="'remove'"
            (click)="ammoRemoveClick(ammo.id)"
          ></app-minimal-button>
        </div>
      </div>
      <div class="selector">
        <select #ammo [(ngModel)]="selectedAmmo">
          <option disabled value="none">Select an ammunition</option>
          <option *ngFor="let ammo of ammoList" [ngValue]="ammo">
            {{ ammo.caliber }}
          </option>
        </select>
        <input type="number" [(ngModel)]="countInput" style="width: 100px" />
      </div>
      <div class="adder">
        <app-minimal-button
          [insideContent]="'add'"
          (click)="ammoAddClick()"
        ></app-minimal-button>
      </div>
    </div>
    <div class="containerlist">
      <h2>Weapons</h2>
      <div class="scroll">
        <div class="small-wrapper" *ngFor="let weapon of selectedWeaponList">
          <p>{{ weapon.weaponName }}</p>
          <app-minimal-button
            [insideContent]="'remove'"
            (click)="weaponRemoveClick(weapon.id)"
          ></app-minimal-button>
        </div>
      </div>
      <div class="selector">
        <select #weapon [(ngModel)]="selectedWeapon">
          <option disabled value="none">Select a weapon</option>
          <option *ngFor="let weapon of weaponList" [ngValue]="weapon">
            {{ weapon.weaponName }}
          </option>
        </select>
      </div>
      <div class="adder">
        <app-minimal-button
          [insideContent]="'add'"
          (click)="weaponAddClick()"
        ></app-minimal-button>
      </div>
    </div>
  </div>
  <div class="containerfooter">
    <div class="pricewrapper">
      Price: <input type="number" [(ngModel)]="priceInput" />
    </div>
  </div>
  <app-default-button
    [insideContent]="'Update'"
    (click)="confirmClick()"
  ></app-default-button>
</div>
