<div class="wrapper">
  <h1>Recent Sessions</h1>
  <div class="recent-header">
    <div class="icons-header">
      <mat-icon
        class="icon-color"
        aria-hidden="false"
        aria-label="Example home icon"
        >event</mat-icon
      >
      <mat-icon
        class="icon-color"
        aria-hidden="false"
        aria-label="Example home icon"
        >map</mat-icon
      >
      <mat-icon
        class="icon-color"
        aria-hidden="false"
        aria-label="Example home icon"
        >group</mat-icon
      >
      <mat-icon
        class="icon-color"
        aria-hidden="false"
        aria-label="Example home icon"
        >paid</mat-icon
      >
    </div>
  </div>
  <div class="session-container">
    <app-summary-bar
      *ngFor="let session of sessionList"
      class="session-button"
      [summaryDate]="session.sessionDate"
      [summaryShootingRange]="session.shootingRange.address"
      [summaryNumParticipants]="session.sessionParticipants"
      [summaryPrice]="session.totalPrice"
      (click)="sendSessionId(session.shootingSessionId)"
    ></app-summary-bar>
  </div>
</div>
