<div class="wrapper">
  <div class="containerheader">
    <input type="date" [(ngModel)]="dateInput" /> -
    <select #range>
      <option value="default">--SELECT--</option>
      <option
        *ngFor="let shootingRange of shootingRangeList"
        [value]="shootingRange.shootingRangeId"
      >
        {{ shootingRange.address }}
      </option>
    </select>
  </div>
  <div class="container">
    <div class="containerlist">
      <h2>Participants</h2>
      <div class="scroll">
        <p *ngFor="let person of selectedPersonList">
          {{ person.name }}
        </p>
      </div>
      <div class="selector">
        <select #person [(ngModel)]="selectedPerson">
          <option value="default">--SELECT--</option>
          <option *ngFor="let person of personList" [ngValue]="person">
            {{ person.name }}
          </option>
        </select>
        <app-default-button
          [insideContent]="'ADD'"
          (click)="personAddClick()"
        ></app-default-button>
      </div>
    </div>
    <div class="containerlist">
      <h2>Ammo</h2>
      <div class="scroll">
        <p *ngFor="let ammo of selectedAmmoList">
          {{ ammo.caliber }}
          <!-- - {{ ammo.amount }} -->
        </p>
      </div>
      <div class="selector">
        <select #ammo [(ngModel)]="selectedAmmo">
          <option value="default">--SELECT--</option>
          <option *ngFor="let ammo of ammoList" [ngValue]="ammo">
            {{ ammo.caliber }}
          </option>
        </select>
        <input type="number" />
        <app-default-button
          [insideContent]="'ADD'"
          (click)="ammoAddClick()"
        ></app-default-button>
      </div>
    </div>
    <div class="containerlist">
      <h2>Weapons</h2>
      <div class="scroll">
        <p *ngFor="let weapon of selectedWeaponList">
          {{ weapon.weaponName }}
        </p>
      </div>
      <div class="selector">
        <select #weapon [(ngModel)]="selectedWeapon">
          <option value="default">--SELECT--</option>
          <option *ngFor="let weapon of weaponList" [ngValue]="weapon">
            {{ weapon.weaponName }}
          </option>
        </select>
        <app-default-button
          [insideContent]="'ADD'"
          (click)="weaponAddClick()"
        ></app-default-button>
      </div>
    </div>
  </div>
  <div class="containerfooter">
    <div class="pricewrapper">
      Price: <input type="number" [(ngModel)]="priceInput" />
    </div>
  </div>
  <app-default-button
    [insideContent]="'Confirm'"
    (click)="confirmClick()"
  ></app-default-button>
</div>
