<div class="container">
  <div class="wrapper">
    <app-range-list-comp
      [rangeList]="ranges"
      (showRangeId)="setShownRange($event)"
    ></app-range-list-comp>
    <app-default-button
      *ngIf="ranges.length === 0"
      [insideContent]="'New Range'"
      [routerLink]="['/addrange']"
    ></app-default-button>
  </div>
  <div *ngIf="ranges.length > 0" class="wrapper">
    <app-range-viewer-comp [range]="lastrange"> </app-range-viewer-comp>
    <app-default-button
      [insideContent]="'New Range'"
      [routerLink]="['/addrange']"
    ></app-default-button>
  </div>
</div>
