<div class="container">
  <div class="wrapper">
    <app-recent-session-comp
      [sessionList]="sessions"
      (showSessionId)="setShownSession($event)"
    ></app-recent-session-comp>
    <app-default-button
      *ngIf="sessions.length === 0"
      [insideContent]="'New Session'"
      [routerLink]="['/addsession']"
    ></app-default-button>
  </div>

  <div *ngIf="sessions.length > 0" class="wrapper">
    <app-session-viewer-comp [session]="mostRecentSession">
    </app-session-viewer-comp>
    <app-default-button
      [insideContent]="'New Session'"
      [routerLink]="['/addsession']"
    ></app-default-button>
  </div>
</div>
