<div class="container">
  <div class="wrapper">
    <app-weapon-list-comp
      [weaponList]="weapons"
      (showWeaponId)="setShownWeapon($event)"
    ></app-weapon-list-comp>
    <app-default-button
      *ngIf="weapons.length === 0"
      [insideContent]="'New Weapon'"
      [routerLink]="['/addweapon']"
    ></app-default-button>
  </div>
  <div *ngIf="weapons.length > 0" class="wrapper">
    <app-weapon-viewer-comp [weapon]="lastweapon"> </app-weapon-viewer-comp>
    <app-default-button
      [insideContent]="'New Weapon'"
      [routerLink]="['/addweapon']"
    ></app-default-button>
  </div>
</div>
