p {
  margin: 1px;
}

select {
  width: 180px;
}

.wrapper {
  background-color: #87705f;
  border-radius: 3px;
  max-width: 650px;
  min-height: 600px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.small-wrapper {
  background-color: #563f2e;
  border-radius: 8px;
  padding: 2px;
  margin: 8px;
  min-width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgba(143, 143, 143, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.containerheader,
.containerfooter {
  display: flex;
  flex-direction: row;
  padding: 8px;
  gap: 10px;
}

.containerlist {
  position: relative;
  background-color: #6f655a;
  min-width: 190px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

.scroll {
  height: 350px;
  overflow-y: scroll;
  isplay: flex;
  flex-direction: column;
  align-items: center;
}

.selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.adder {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 8px;
  margin-bottom: 8px;
}
